<h3>This volunteer does not exist</h3>

<form action="/projects" method="get">
  <input class="form-control" type="hidden">
  <button id="return_to_project" type="submit" class="btn">Projects</button>
</form>
