<h3>Project:</h3>

<form action="/projects" method="post">
    <label for="project_title">Project title</label>
    <input id="search" name="project_title" class="form-control" type="text" required>
  <button type="submit" class="btn">Create</button>
</form>
