<h3>Search Projects</h3>
<form action="/projects" method="get">
  <div class="form-group">
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Search</button>
</form>

<h3>Projects</h3>

<% if @projects.any? %>
  <% @projects.each do |project| %>
  <p><a href="/projects/<%= project.id %>"> <%= project.title %></a></p>
  <% end %>
<% else %>
<p>You currently have no projects.</p>
<% end %>
<form action="/projects/new" method="get">
  <input class="form-control" type="hidden">
  <button id="new_project" type="submit" class="btn">New</button>
</form>
<br>

<form action="/projects/destroy" method="get">
  <input class="form-control" type="hidden">
  <button id="destroy" type="submit" class="btn">DESTROY EVERYTHING</button>
</form>

<form action="/" method="get">
  <input class="form-control" type="hidden">
  <button id="return_to_project" type="submit" class="btn">Home</button>
</form>
